.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 1040;
}

.modal {
  z-index: 1050;
}

.modal-content {
  background-color:  #263D4F  !important; /* Azul oscuro */
  color: #B49C73 !important; /* Dorado */
  border-radius: 12px;
  border: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.modal-header,
.modal-footer {
  border: none;
}

.modal-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #B49C73;
}

.modal-body label {
  color:#B49C73;
  font-weight: 500;
}

.modal-body .form-control {
  background-color:  #263D4F ;
  border: 1px solid#B49C73;
  color: white;
  border-radius: 6px;
}

.modal-body .form-control:focus {
  background-color: #263D4F ;
  color: white;
  border-color: #B49C73;
  box-shadow: 0 0 0 0.15rem rgba(212, 176, 114, 0.25);
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.modal-footer .btn-primary {
  background-color: #263D4F;
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.modal-footer .btn-primary:hover {
  background-color: #B49C73;
  color: #263D4F;
  border-color: #263D4F;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.8); /* Agregado */
}

.modal-footer .btn-secondary {
  background-color: #B49C73;
  border: 1px solid #ffffff;
  color: #263D4F;
  border: none;
  transition: all 0.3s ease-in-out;
}

.modal-footer .btn-secondary:hover {
  background-color: #ffffff;
  color: #B49C73;
  border: 1px solid #ffffff;
  box-shadow: 0 0 12px #B49C73; /* Agregado */
}

.swal2-icon.swal2-success {
  border-color: #263D4F !important;
}

.swal2-icon.swal2-success .swal2-success-ring {
  border: 4px solid #263D4F !important;
}

.swal2-icon.swal2-success [class^='swal2-success-line'] {
  background-color: #263D4F !important;
}

/* Estilo del botón SweetAlert2 */
.swal2-confirm {
  background-color: #263D4F !important;
  border: 1px solid #ffffff !important;
  color: #ffffff !important;
}

/* Hover dorado */
.swal2-confirm:hover {
  background-color: #B49C73 !important;
  color: #263D4F !important;
  border: 1px solid #263D4F !important;
}
/* Color dorado al título de SweetAlert2 */
.swal2-title.dorado {
  color: #B49C73 !important;
}

.alert-success {
  background-color: #F0F5F2;
  color: #B49C73;
  border: 1px solid #B49C73;
}

.alert-danger {
  background-color: #FDEDED;
  color: #A94442;
  border: 1px solid #f5c6cb;
}